body {
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: #68BDCA;
  }

  a {
    color: white;
    text-decoration: none; /* This removes the underline */
  }
  
  #btt {
    position: fixed;
    margin-bottom: 20px;
    margin-right: 20px;
    bottom: 0;
    right: 0;
    opacity: 0.8;
    width: 50px;
    transition: margin-bottom 0.6s, opacity 0.6s;
  }
  
  #btt:hover {
    margin-bottom: 25px;
    opacity: 1;
  }
  
  #welcome {
    font-family: 'Amatic SC', cursive;
    color: #FCFFFF;
    background: url("https://images.unsplash.com/photo-1423589989400-cc0270157ed0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=458cf2662814c68b6eb24d9e55801fa0");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 5%;
    text-align: center;
  }
  
  #welcome h1,
  #portfolio h1 {
    font-size: 70pt;
    font-weight: bold;
  }
  
  #welcome h3,
  #portfolio h3 {
    font-size: 28pt;
  }
  
  #press {
    width: 60px;
    border: solid 4px white;
    border-radius: 40px;
    margin-top: 20%;
    transition: background-color 0.6s, opacity 0.6s, margin-top 1s;
  }
  
  #press:hover {
    background-color: #5BC2B4;
    opacity: 0.8;
    margin-top: 21%;
  }
  
  #about {
    background-color: #0A3739;
    padding: 5%;
    min-height: 100vh;
  }
  
  #about h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 40pt;
    font-weight: bold;
  }
  
  #about p, #about ul {
    font-size: 16pt;
  }
  
  #skills h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30pt;
  }

  #Certifications h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 30pt;
  }
  
  #contact {
    margin-top: 20px;
  }
  
  ul {
    margin-bottom: 80px; /* Adjust this value as needed */
  }

  #email, #github {
    background-color: #26816E;
    padding: 2%;
    border-radius: 40px;
    margin-right: 10px;
    transition: background-color 0.5s;
    color:#ffffff
  }
  
  #email img, #github img {
    width: 25px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  #email:hover, #github:hover {
    background-color: #1A616C;
    cursor: pointer;
  }
  
  #portfolio {
    background-color: #68BDCA;
    padding: 5%;
    min-height: 100vh;
  }
  
  #portfolio h1 {
    font-family: 'Amatic SC', cursive;
  }
  
  .project {
    background-color: #26816E;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .project h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 24pt;
  }
  
  .project a {
    color: white;
    text-decoration: underline;
  }

  .project-container {
    display: flex;
    background-color: #2a8d8d;
    border-radius: 10px;
    overflow: hidden;
    height: 80px; /* Adjust this value as needed */
  }


  
  #openmenu {
    font-family: 'Amatic SC', cursive;
    font-size: 20pt;
    background-color: #68BDCA;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
    position: fixed;
    padding: 2px;
    width: 10%;
    text-align: center;
    top: 0;
    left: 0;
    transition: width 0.5s;
    z-index: 1000;
  }
  
  #openmenu:hover {
    width: 15%;
    cursor: pointer;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
    .closebtn {
      font-size: 40px !important;
      top: 15px;
      right: 35px;
    }
  }